@import "../_variables";
.container{
    padding: $padding;
    max-width: $max-width;
    margin: $margin;
    margin-bottom: 160px;
    @media screen and (max-width: 768px){
        padding: 0 4%;
        max-width: 768px;
        margin-bottom: 60px;
    }
    .items{
        display: flex;
        flex-wrap: wrap;
        margin: -12px;
        @media screen and (max-width: 768px){
            margin: -16px;
        }
    }
}